In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import gc

In [2]:
data = pd.read_csv('D:/Materi Kuliah/Semester 7/NLP/Proyek/good_reads_final.csv',encoding = "ISO-8859-1")

In [3]:
data.head()

,author_average_rating,author_gender,author_genres,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
0,4.01,female,"historical-fiction,",74489,Victoria Thompson\n,/author/show/74489.Victoria_Thompson,74399,6268,United States\n,4.02,https://www.goodreads.com/book/show/686717.Mur...,686717,\n Murder on St. Mark's Place\n,Mystery,Historical,5260,375,277,2000,3230
1,4.15,male,"literature-fiction,mystery-thrillers,",706255,Stieg Larsson\n,/author/show/706255.Stieg_Larsson,3726435,142704,Sweden\n,4.13,https://www.goodreads.com/book/show/2429135.Th...,2429135,\n The Girl with the Dragon Tattoo\n,Fiction,Mystery,2229163,65227,465,August 2005,3062
2,4.00,female,"romance,",5618190,Mimi Jean Pamfiloff\n,/author/show/5618190.Mimi_Jean_Pamfiloff,76496,7975,United States\n,3.99,https://www.goodreads.com/book/show/27833684-t...,27833684,\n Tailored for Trouble\n,Romance,Contemporary,2151,391,354,2016,4585
3,3.88,male,"fiction,memoir,",37871,JosÃ© Donoso\n,/author/show/37871.Jos_Donoso,5522,489,Chile\n,4.14,https://www.goodreads.com/book/show/382975.The...,382975,\n The Obscene Bird of Night\n,Fiction,Magical Realism,1844,173,438,1970,1533
4,4.10,female,"young-adult,fantasy,",36122,Patricia C. Wrede\n,/author/show/36122.Patricia_C_Wrede,291013,13453,United States\n,4.01,https://www.goodreads.com/book/show/64207.Sorc...,64207,\n Sorcery & Cecelia: or The Enchanted Ch...,Fantasy,Young Adult,17051,1890,326,April 15th 1988,2105

In [4]:
data.dtypes

author_average_rating    float64
author_gender             object
author_genres             object
author_id                  int64
author_name               object
author_page_url           object
author_rating_count        int64
author_review_count        int64
birthplace                object
book_average_rating      float64
book_fullurl              object
book_id                   object
book_title                object
genre_1                   object
genre_2                   object
num_ratings                int64
num_reviews                int64
pages                     object
publish_date              object
score                      int64
dtype: object

In [5]:
data['author_genres'].fillna(data['author_genres'].mode()[0], inplace=True)

In [6]:
column = ['author_average_rating','author_gender','author_genres','author_id','author_name','author_page_url','author_rating_count','author_review_count','birthplace','book_average_rating','book_fullurl','book_id','book_title','genre_1','genre_2','num_ratings','num_reviews','pages','publish_date','score']
data.column = column

C:\Users\Advent Siahaan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [7]:
data[20000:20010]

,author_average_rating,author_gender,author_genres,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
20000,3.61,male,"science-fiction-fantasy,",4740874,Steven W. White\n,/author/show/4740874.Steven_W_White,795,102,\n,3.61,https://www.goodreads.com/book/show/10871446-o...,10871446,\n Outrageous Fortunes: a Novel of Altern...,Fiction,Science Fiction,69,13,374,March 16th 2011,200
20001,3.91,male,"literature-fiction,",2976,Ãric-Emmanuel Schmitt\n,/author/show/2976._ric_Emmanuel_Schmitt,84438,6333,France\n,4.15,https://www.goodreads.com/book/show/1016600.La...,1016600,\n La Part de l'autre\n,Fiction,Cultural,4676,268,473,August 2001,200
20002,3.94,female,"young-adult,",6562243,J.C. Lillis\n,/author/show/6562243.J_C_Lillis,3170,649,\n,3.95,https://www.goodreads.com/book/show/16102490-h...,16102490,\n How to Repair a Mechanical Heart\n,Lgbt,Young Adult,2670,473,255,2012,631
20003,3.39,female,"literature-fiction,biographies-memoirs,",58843,A. Manette Ansay\n,/author/show/58843.A_Manette_Ansay,31204,1577,United States\n,3.13,https://www.goodreads.com/book/show/6270530-go...,6270530,\n Good Things I Wish You\n,Fiction,Historical,809,145,258,January 1st 2009,1443
20004,3.76,male,"gay-lesbian,",5808041,Sage Marlowe\n,/author/show/5808041.Sage_Marlowe,1917,345,\n \n,3.53,https://www.goodreads.com/book/show/22094910-s...,22094910,\n Sub-Mission\n,Erotica,Romance,296,43,152,NaN,646
20005,3.95,female,"comics-graphic-novels,gay-lesbian,historical-f...",195779,Fumi Yoshinaga\n,/author/show/195779.Fumi_Yoshinaga,15534,1380,Japan\n,3.94,https://www.goodreads.com/book/show/6218001-oku,6218001,"\n Åoku: The Inner Chambers, Volume 1\n",Sequential Art,Sequential Art,2247,244,203,September 29th 2005,247
20006,3.64,female,"romance,",4831558,Rachael Wade\n,/author/show/4831558.Rachael_Wade,9031,1311,\n,4.02,https://www.goodreads.com/book/show/17204373-d...,17204373,\n Declaration\n,Romance,Contemporary,233,57,191,October 1st 2013,729
20007,3.87,female,"literature-fiction,mystery-thrillers,",1032457,Chancery Stone\n,/author/show/1032457.Chancery_Stone,260,68,United Kingdom\n,3.72,https://www.goodreads.com/book/show/9993725-ho...,9993725,\n Hope House\n,Romance,Romance,85,27,928,January 1st 1998,662
20008,3.75,male,"science-fiction,",22645,Gregory Benford\n,/author/show/22645.Gregory_Benford,65548,3847,United States\n,3.39,https://www.goodreads.com/book/show/640592.Hit...,640592,\n Hitler Victorious: Eleven Stories of t...,Science Fiction,Science Fiction,255,20,299,1986,264
20009,4.14,female,"young-adult,",688672,Kathryn Erskine\n,/author/show/688672.Kathryn_Erskine,30457,4883,\n,4.18,https://www.goodreads.com/book/show/6596547-mo...,6596547,\n Mockingbird\n,Young Adult,Realistic Fiction,26747,4056,235,2010,1526

In [9]:
books = pd.DataFrame(data['book_title'])
genre = pd.DataFrame(data['genre_1'])

In [10]:
print (books.shape)
print (genre.shape)

(22891, 1)
(22891, 1)

In [11]:
from collections import Counter

total_counts = Counter()
for i in range(len(books)):
    for word in books.values[i][0].split(" "):
        total_counts[word] += 1

print("Total words in data set: ", len(total_counts))

Total words in data set:  18391

In [12]:
vocab = sorted(total_counts, key=total_counts.get, reverse=True)[:20000]
print(vocab[:60])

['', '\n', 'The', 'of', 'the', 'and', 'A', 'in', 'to', 'a', 'My', 'for', 'Vol.', 'on', 'Love', '1\n', 'I', 'You', '&', 'How', 'Story', 'with', 'Life', 'Me\n', 'from', 'One', 'at', 'All', 'You\n', 'Your', 'Life\n', 'Dark', 'Book', 'Other', 'An', 'Love\n', 'In', 'Last', 'Is', 'Who', 'Black', 'We', 'Little', 'That', 'When', 'What', 'Girl\n', 'Girl', 'by', 'World\n', 'Me', 'With', 'True', 'Volume', 'Secret', 'History', 'American', 'His', 'an', 'World']

In [13]:
print(vocab[-1], ': ', total_counts[vocab[-1]])

Volatile :  1

In [14]:
vocab_size = len(vocab)
word2idx = {}
#print vocab_size
for i, word in enumerate(vocab):
    word2idx[word] = i

In [15]:
def text_to_vector(text):
    word_vector = np.zeros(vocab_size)
    for word in text.split(" "):
        if word2idx.get(word) is None:
            continue
        else:
            word_vector[word2idx.get(word)] += 1
    return np.array(word_vector)

In [17]:
text_to_vector("La Part de l'autre")[:10]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [18]:
word_vectors = np.zeros((len(books), len(vocab)), dtype=np.int_)
for ii, (_, text) in enumerate(books.iterrows()):
    word_vectors[ii] = text_to_vector(text[0])

In [19]:
word_vectors.shape

(22891, 18391)

In [20]:
books.describe()

                 book_title
count                 22891
unique                16350
top     \n      Forbidden\n
freq                     16

In [22]:
genre.describe()

        genre_1
count     22891
unique      124
top     Fantasy
freq       3397

In [23]:
type(genre)
len(genre)
genre

       genre_1
0      Mystery
1      Fiction
2      Romance
3      Fiction
4      Fantasy
...        ...
22886  Fantasy
22887  Romance
22888  Fantasy
22889  Fantasy
22890  Fantasy

[22891 rows x 1 columns]

In [24]:
from collections import Counter

total_counts_genre = Counter()
for i in range(len(genre)):
    for word in genre.values[i][0].split(" "):
        total_counts_genre[word] += 1

print("Total words in data set: ", len(total_counts_genre))

Total words in data set:  134

In [25]:
vocab_genre = sorted(total_counts_genre, key=total_counts_genre.get, reverse=True)

In [26]:
vocab_genre = vocab_genre[1:]
print (vocab_genre)

['Romance', 'Fantasy', 'Adult', 'Young', 'Historical', 'Science', 'Nonfiction', 'Mystery', 'Classics', 'Art', 'Sequential', 'Horror', 'Childrens', 'History', 'Paranormal', 'New', 'Poetry', 'Christian', 'Erotica', 'Novels', 'Biography', 'Short', 'Stories', 'Thriller', 'Dark', 'Religion', 'Philosophy', 'Contemporary', 'and', 'Humor', 'Lgbt', 'Autobiography', 'Womens', 'Business', 'Holiday', 'Self', 'Help', 'Travel', 'Sports', 'Literature', 'Psychology', 'Cultural', 'Politics', 'Games', 'Asian', 'Food', 'Drink', 'Plays', 'Spirituality', 'Feminism', 'Glbt', 'Animals', 'Mythology', 'War', 'Crime', 'Realistic', 'Adventure', 'Anthologies', 'Music', 'Comics', 'Health', 'Shapeshifters', 'Suspense', 'Language', 'Westerns', 'Amish', 'Polyamorous', 'World', 'II', 'Economics', 'Military', 'Magical', 'Realism', 'Education', 'Warfare', 'Mental', 'Media', 'Tie', 'In', 'Apocalyptic', 'Category', 'Africa', 'Sociology', 'Leadership', 'Writing', 'Inspirational', 'Novella', 'Drama', 'Northern', 'Spy', 'Parenting', 'Literary', 'Retellings', 'European', 'Christianity', 'Manga', 'Marriage', 'Family', 'Sexuality', 'Eastern', 'Biblical', 'Occult', 'Unfinished', 'Relationships', 'Death', 'Lds', 'Design', 'Dungeons', 'Dragons', 'Did', 'Not', 'Finish', 'Reference', 'Fan', 'Love', 'Epic', 'Gardening', 'Couture', 'Own', 'Football', 'Medical', 'Speculative', 'Dc', 'Esoterica', 'How', 'To', 'Teaching', 'Social', 'United', 'States', 'Pulp', 'Fairy', 'Tales']

In [27]:
print(vocab_genre[-1], ': ', total_counts_genre[vocab_genre[-1]])

Tales :  1

In [28]:
vocab_size_genre = len(vocab_genre)
word2idx_genre = {}
#print vocab_size
for i, word in enumerate(vocab_genre):
    word2idx_genre[word] = i

In [29]:
def text_to_vector_genre(text):
    word_vector_genre = np.zeros(vocab_size_genre)
    for word in text.split(" "):
        if word2idx_genre.get(word) is None:
            continue
        else:
            word_vector_genre[word2idx_genre.get(word)] += 1
    return np.array(word_vector_genre)

In [30]:
word_vectors_genre = np.zeros((len(genre), len(vocab_genre)), dtype=np.int_)
for ii, (_, text) in enumerate(genre.iterrows()):
    word_vectors_genre[ii] = text_to_vector_genre(text[0])

In [31]:
word_vectors_genre.shape
word_vectors_genre[1]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0])

In [32]:
print (word_vectors.shape)
word_vectors_genre[1]
list(word2idx_genre)

(22891, 18391)

['Romance',
 'Fantasy',
 'Adult',
 'Young',
 'Historical',
 'Science',
 'Nonfiction',
 'Mystery',
 'Classics',
 'Art',
 'Sequential',
 'Horror',
 'Childrens',
 'History',
 'Paranormal',
 'New',
 'Poetry',
 'Christian',
 'Erotica',
 'Novels',
 'Biography',
 'Short',
 'Stories',
 'Thriller',
 'Dark',
 'Religion',
 'Philosophy',
 'Contemporary',
 'and',
 'Humor',
 'Lgbt',
 'Autobiography',
 'Womens',
 'Business',
 'Holiday',
 'Self',
 'Help',
 'Travel',
 'Sports',
 'Literature',
 'Psychology',
 'Cultural',
 'Politics',
 'Games',
 'Asian',
 'Food',
 'Drink',
 'Plays',
 'Spirituality',
 'Feminism',
 'Glbt',
 'Animals',
 'Mythology',
 'War',
 'Crime',
 'Realistic',
 'Adventure',
 'Anthologies',
 'Music',
 'Comics',
 'Health',
 'Shapeshifters',
 'Suspense',
 'Language',
 'Westerns',
 'Amish',
 'Polyamorous',
 'World',
 'II',
 'Economics',
 'Military',
 'Magical',
 'Realism',
 'Education',
 'Warfare',
 'Mental',
 'Media',
 'Tie',
 'In',
 'Apocalyptic',
 'Category',
 'Africa',
 'Sociology',
 'Leadership',
 'Writing',
 'Inspirational',
 'Novella',
 'Drama',
 'Northern',
 'Spy',
 'Parenting',
 'Literary',
 'Retellings',
 'European',
 'Christianity',
 'Manga',
 'Marriage',
 'Family',
 'Sexuality',
 'Eastern',
 'Biblical',
 'Occult',
 'Unfinished',
 'Relationships',
 'Death',
 'Lds',
 'Design',
 'Dungeons',
 'Dragons',
 'Did',
 'Not',
 'Finish',
 'Reference',
 'Fan',
 'Love',
 'Epic',
 'Gardening',
 'Couture',
 'Own',
 'Football',
 'Medical',
 'Speculative',
 'Dc',
 'Esoterica',
 'How',
 'To',
 'Teaching',
 'Social',
 'United',
 'States',
 'Pulp',
 'Fairy',
 'Tales']

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(word_vectors, word_vectors_genre, test_size=0.25, random_state=42)

MemoryError:

In [ ]:
print (X_train.shape)
print (y_train.shape)
print (X_test.shape)
print (y_test.shape)

In [34]:
def build_model():
    tf.reset_default_graph()
    
    # Input
    net = tflearn.input_data([None, 20000])
    
    #Hidden
    net = tflearn.fully_connected(net, 128, activation='ReLU')
    net = tflearn.fully_connected(net, 128, activation='ReLU')
    net = tflearn.fully_connected(net, 128, activation='ReLU')
    net = tflearn.fully_connected(net, 256, activation='ReLU')

    ## Dropout
    net = tflearn.layers.core.dropout (net, 0.5, noise_shape=None, name='Dropout')

    #Output
    net = tflearn.fully_connected(net, 62, activation='softmax') 
    net = tflearn.regression(net, optimizer='adam', learning_rate=0.003, loss='categorical_crossentropy')
    
    
    model = tflearn.DNN(net)
    return model

In [35]:
model = build_model()

AttributeError: module 'tensorflow' has no attribute 'reset_default_graph'

In [36]:
hist = model.fit(X_train, y_train, validation_set=0.05, show_metric=True, batch_size=32, n_epoch=10)

NameError: name 'model' is not defined

In [37]:
model.save('models/Basic.tfl')

NameError: name 'model' is not defined

In [38]:
model.load("models/Basic.tfl")

NameError: name 'model' is not defined

In [39]:
## Predictions for first book in testing set
print (len(X_test[1000]))

NameError: name 'X_test' is not defined

In [40]:
text = "A mariage with that boy" ## Genre is Christian Books and Bible
prob = model.predict([text_to_vector(text)])
print (prob)

NameError: name 'model' is not defined

In [41]:
len(prob[0])

NameError: name 'prob' is not defined

In [42]:
results = sorted(((value, index) for index, value in enumerate(prob[0])), reverse=True)[:5]
print (results)

NameError: name 'prob' is not defined

In [ ]:
originial_genre_vocab = list(word2idx_genre)
#originial_genre_vocab[:10]
for i,j in results:
    print (originial_genre_vocab[j])